aws_region   = "ap-southeast-1"
project_name = "music-etl"
environment  = "dev"
vpc_cidr     = "10.20.0.0/16"

private_subnet_cidrs = [
  "10.20.10.0/24",
  "10.20.11.0/24",
]

nat_public_subnet_cidr = "10.20.0.0/24"

s3_endpoint_allowed_bucket_arns = [
  "arn:aws:s3:::replace-with-music-etl-data-lake-bucket",
]

s3_endpoint_allowed_principal_arns = [
  "arn:aws:iam::replace-with-account-id:role/replace-with-data-role",
]

enable_nat_gateway      = false
flow_log_retention_days = 30
flow_log_kms_key_id     = "alias/aws/logs"

data_lake_bucket_name   = "replace-with-globally-unique-data-lake-bucket"
glue_assets_bucket_name = "replace-with-globally-unique-glue-assets-bucket"
kms_alias_prefix        = "music-etl-dev"

raw_retention_days         = 90
clean_retention_days       = 180
analytics_retention_days   = 365
glue_assets_retention_days = 30

analytics_reader_trusted_principal_arn = "arn:aws:iam::replace-with-account-id:role/replace-with-analytics-reader-principal"
glue_worker_type = "G.1X"
glue_number_of_workers = 2
glue_timeout_minutes = 30
glue_max_retries = 1
glue_log_retention_days = 30
glue_version = "4.0"
athena_bytes_scanned_cutoff_per_query = 1073741824
redshift_base_capacity = 8
redshift_admin_secret_arn = "arn:aws:secretsmanager:ap-southeast-1:replace-with-account-id:secret:replace-with-redshift-admin-secret"
alarm_sns_topic_arn = null
quicksight_enabled = false
quicksight_principal_arn = null
quicksight_vpc_connection_role_arn = null
quicksight_refresh_schedule = "DAILY"

common_tags = {
  CostCenter = "development"
  Owner      = "huy"
}
